body {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",  'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  padding-top: 1em;
  padding-bottom: 1em;
}
a, .link {
  cursor: pointer;
  color: #333;
  text-decoration: underline;
}
.loading-page-container {
}
.loading-page-container #loading-page {
  display: none;
}
.loading-page-container.loading-page-active #loading-page {
  background-color: #fff;
  color: #333;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 0.25em;
}


.container {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  max-width: 600px;
}
.item .label {
  text-transform: uppercase;
  font-size: 0.9em;
}
.item .value {
  font-weight: bold;
  margin: 0.05em auto;
  font-size: 3em;
}

.tac {
  text-align: center;
}

#history {
  padding-left: 0;
}
#history li {
  list-style-type: none;
}
