body {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",  'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}
a, .link {
  cursor: pointer;
  text-decoration: underline;
}
.loading-page-container {
}
.loading-page-container #loading-page {
  display: none;
}
.loading-page-container.loading-page-active #loading-page {
  background-color: #fff;
  color: #333;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 0.25em;
}


.container {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  max-width: 600px;
}
.counter, .info {
  display: block;
  width: calc(50% - 2em);
  float: left;
  margin: 0;
  color: #333;
  text-align: left;
}
@media all and (max-width: 1200px) {
  .counter, .info {
    width: 100%;
  }
}
.counter .value {
  text-align: center;
  font-weight: bold;
  margin: 0.05em auto;
  font-size: 3em;
}

.info {
  margin: 0 !important;
  width: 100%;
  background-color: rgba(0,0,0,0.02);
}

.info .ok .value {
  color: green;
}
.info .danger .value {
  color: red;
}

.tac {
  text-align: center;
}
