body {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",  'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}
a, .link {
  cursor: pointer;
  text-decoration: underline;
}
.loading-page-container {
}
.loading-page-container #loading-page {
  display: none;
}
.loading-page-container.loading-page-active #loading-page {
  background-color: #fff;
  color: #333;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}


.counter-container {
  display: block;
  overflow: hidden;
}
.counter {
  display: block;
  width: calc(50% - 2em);
  float: left;
  margin: 0;
  border-bottom: 1px solid #666;
  color: #333;
  text-align: left;
  font-size: 0.75em;
  padding: 1em;
  margin-left: -1px;
}
.counter:nth-child(2n+1) {
  border-right: 1px solid #666;
}
@media all and (max-width: 1200px) {
  .counter {
    width: 100%;
  }
}
.counter.small {
  font-size: 0.4em;
}
.counter.small .label, .counter.small .value {
  float: left;
}
.counter .label {
  padding-right: 1em;
}
.counter .value {
  font-weight: bold;
  font-size: 3em;
  margin: 0.5em auto 0.05em;
}
