body {
  background-color: #333;
  color: #fff;
}

a, .link {
  color: white !important;
  cursor: pointer;
}

.loading-page-container.loading-page-active #loading-page {
  background-color: #333;
  color: #fff;
}

.counter {
  color: white;
}
